@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    max-width: 1000px;
    margin: auto;
}

p{
    font-size: 120%;
}

/* Grid Structure */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.flex-item {
    
    width: calc(50% - 8px);
}
  
.two-col {
    width: calc(100% - 8px);
    justify-content: center;
    display: flex;
}

/* Header */

.heading{
    margin: 1%;
}

.logo{
    width: 35px;
    height: 35px;
    padding-right: 1%;
}

/* Main - Hangman Game */

main{

}

.game-container{
    margin: 1%;
    border: medium solid #bf1e2d;
}

.category-container{
    margin: 1%;
    display: flex;
}

#categories{
    list-style: none;
}

#categories li{
    background-color: #bf1e2d;
    display:inline;
    margin: 1%;
    padding: 1%;
    color: #fff;
}

#hangman-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#hangman-image img{
    margin: 1%;
}

#hangman-image h3{
    margin: 1%;
}

.word{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.word h3{
    margin: 1%;
}

#letters{
    margin: 5%;
    list-style: none;
}

#letters li{
    background-color: #bf1e2d;
    display:inline-block;
    margin: 1%;
    color: #fff;
    height: 25px;
    width: 25px;
    text-align: center;
    font-weight: bold;
}

.options-container{
    margin: 1%;
    display: flex;
}

.options{
    list-style: none;
}

.options li{
    background-color: #bf1e2d;
    display:inline;
    margin: 1%;
    padding: 1%;
    color: #fff;
}

/* Footer */

footer{
    display: flex;
    justify-content:center;
    margin: 2%;
}

footer h3{
    font-weight: 600;
    padding-right: 2%;
}

/* responsive layout via media queries*/

@media (max-width: 768px) {
    .flex-item {
        width: 100%;
    }
}